NODE_ENV=development
APP_NAME=WebArcade
APP_URL=https://webarcade.in
PASSWORD_RESET_CONTINUE_URL=https://webarcade.in/login.html?reset=1
FRONTEND_ORIGINS=https://webarcade.in,https://sknihal11.github.io,http://localhost:3000
RESEND_API_KEY=
MAIL_FROM_NAME=WebArcade Support
MAIL_FROM_ADDRESS=support@webarcade.in
MAIL_REPLY_TO=support@webarcade.in
ADMIN_EMAILS=support@webarcade.in,nihalsk2022@gmail.com
FIREBASE_PROJECT_ID=webarcade-d4c3d
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
PASSWORD_RESET_RATE_LIMIT_WINDOW_MS=900000
PASSWORD_RESET_RATE_LIMIT_MAX=5
ADMIN_REQUEST_WINDOW_MS=900000
ADMIN_REQUEST_MAX=30
BULK_EMAIL_BATCH_SIZE=20
BULK_EMAIL_BATCH_DELAY_MS=400
